<script lang="tsx">
import { defineComponent } from 'vue';
import { useHead } from '@vueuse/head';

export default defineComponent({
  name: 'Index',
  setup: () => {
    useHead({ title: 'index' });
    return () => (
      <div>
        index
        <hr />
        <router-link to="/page2" style="color: #6cf">
          page 2
        </router-link>
      </div>
    );
  },
});
</script>

<style scoped lang="less"></style>
