<script lang="tsx">
import { defineComponent } from 'vue';
import { useHead } from '@vueuse/head';

export default defineComponent({
  name: 'Index',
  setup: () => {
    useHead({ title: 'page 2' });
    return () => <div>page 2</div>;
  },
});
</script>

<style scoped lang="less"></style>
