<script lang="tsx">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
  setup: () => {
    return () => (
      <div>
        <router-view></router-view>
      </div>
    );
  },
});
</script>

<style lang="less">
html,
body {
  min-height: 100vh;
}
body {
  background-color: rgb(239 238 243);
}
</style>
